# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
watchdog
langgraph-cli[inmem]
streamlit
tavily-python
flask
uuid